{% extends "appbuilder/base.html" %}
{% block content %}
{# NOTE: Flask-AppBuilder v5 still uses Bootstrap 3.4 #}
<div class="jumbotron">
  <div class="container text-center">
    <img src="static/front_page.png" alt="several pictures of prior madiSTEM participants"
      class="img-responsive" style="display: inline-block;">
    <h1>Welcome!</h1>
    <p>Please log in to get started</p>
    <p><a href="about">About MWM</a></p>
  </div>
</div>
{% endblock %}
